<div class="header wf-section">
  <div class="fy_container">
    <div class="nav-menu">      
      <a href="/" class="brand w-nav-brand"><img src="/assets/images/Fyne-Logo-Dark.png" loading="lazy" srcset="/assets/images/Fyne-Logo-Dark-p-500.png 500w, /assets/images/Fyne-Logo-Dark-p-800.png 800w, /assets/images/Fyne-Logo-Dark.png 1470w" sizes="(max-width: 479px) 27vw, (max-width: 767px) 26vw, 129.703125px" alt="" class="image"></a>
      <div class="search" style="display:flex">
        <img onclick="openSearch()" src="/assets/images/search.svg" loading="lazy" alt="" class="icon">
        <div class="w-form">
          <div>
            <input type="text" class="search-close" autofocus="true" maxlength="256" placeholder="Search..." id="js-search__input">
          </div>          
      </div>
    </div>
  </div>
  <div class="results-container results-container-closed" id = "results-container">
    <div class="fy_container">
      <div class="apps-container" id="search-results">
      </div>
    </div>
  </div>
</div>
