<div class="header wf-section">
  <div class="fy_container">
    <div class="nav-menu">      
      <a href="/" class="brand w-nav-brand"><img src="/assets/images/Fyne-Logo-Dark.png" loading="lazy" srcset="/assets/images/Fyne-Logo-Dark-p-500.png 500w, /assets/images/Fyne-Logo-Dark-p-800.png 800w, /assets/images/Fyne-Logo-Dark.png 1470w" sizes="(max-width: 479px) 27vw, (max-width: 767px) 26vw, 129.703125px" alt="" class="image"></a>
      <div data-w-id="90a0fa0d-d1a4-18cc-6390-13cc41fee22a" class="search" style="display:flex">
        <img onclick="openSearch(this)" src="/assets/images/search.svg" loading="lazy" alt="" class="icon">
        <div class="w-form">
          <form id="email-form" name="email-form" data-name="Email Form" method="get">
            <input type="text" class="text-field w-input" autofocus="true" maxlength="256" name="name-2" data-name="Name 2" placeholder="Search..." id="js-search__input">
          </form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="results-container"  style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; display: block;">
    <div class="fy_container">
      <div class="apps-container" id="search-results">
                
      </div>
    </div>
  </div>

  
</div>