<div class="header wf-section">
  <div class="fy_container">
    <div>      
      <div class="search" style="float: right;">
        <img onclick="openSearch()" src="/assets/images/search.svg" loading="lazy" alt="" class="icon">
        <div class="w-form">
          <div>
            <input type="text" class="search-close" maxlength="256" placeholder="Search..." id="js-search__input">
          </div>          
      </div>
    </div>
  </div>
  <div class="results-container results-container-closed" id = "results-container">
    <div class="fy_container">
      <div class="apps-container" id="search-results">
      </div>
    </div>
  </div>
</div>
