<div class="apps wf-section">
  <div class="fy_container">
    <div class="apps-container">
    {% assign i = 0 %}
    {% for app in include.applist %}
    {% if app.disabled %}
      {% continue %}
    {% endif %}

	{% assign i = i | plus: 1 %}
	{% if i > include.limit %}
	  {% break %}
	{% endif %}

    {% assign app_url = app.url | absolute_url  %}

    
    <a href="{{app.url}}" class="app-card">{% if app.icon %}<img src="{{app.icon}}" loading="lazy" alt="" class="app-icon">{% endif %}
      <div class="app-card-title">
        <div class="subheader">{{app.category}}</div>
        <h5 class="h5">Pomadorik</h5>
        <div class="label">{{app.excerpt}}</div>
      </div>
    </a>
    {% endfor %}

    </div>
  </div>
</div>


  