section {
  padding: 0;
}

body {
  color: #eaeaea
}

body h2 {
  color: #b5e853;
}

body header h2 {
  color: #666;
}

/* match light theme for this site */
.navbar {
    background-color: white;
    border-color: rgba(34,34,34,0.5);
}

.navbar li>a {
    color: #222 !important;
}

.navbar li>a:hover {
    color: #2196F3 !important;
}

.navbar .navbar-brand {
    background-image: url("https://fyne.io/img/logo-dark.png") !important;
}

