---
---

.mdl-layout__header {
    background-color: #03a9f4;
}

div.med-layout__drawer {
    z-index: 1000;
}

div.super-search {
    margin-top: 64px;
    background-color: rgba(128, 128, 128, 0.90);
}

div.post-section {
    position: relative;
}

a.mdl-layout-title {
    color: white;
    text-decoration: none;
}

h2.mdl-card__title-text a {
    color: white;
    text-decoration: none;

    font-weight: 300;
}

h2.mdl-card__title-text {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
}

img#preview {
    max-width: 16%;
    float: right;
}

