---
---

a, .mdl-button.mdl-button--colored {
    color: #03a9f4;
}

.mdl-layout__header {
    background-color: #03a9f4;
}

div.med-layout__drawer {
    z-index: 1000;
}

div.super-search {
    margin-top: 64px;
    background-color: rgba(128, 128, 128, 0.90);
}

div.post-section {
    position: relative;
}

a.mdl-layout-title {
    color: white;
    text-decoration: none;
}

h2.mdl-card__title-text a {
    color: white;
    text-decoration: none;

    font-weight: 300;
}

h2.mdl-card__title-text {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px;
}

img#preview {
    max-width: 16%;
    float: right;
}

/* app card styles */

.app .category {
    float: right;
}

.app.incompatible {
    background-color: #aaa;
    opacity: 50%;
}

.app.incompatible a, .app.incompatible h3 {
    text-decoration: line-through;
    color: #666;
}

.app .compatibility {
    visibility: hidden;
    float: right;
    padding: 10pt 5pt;
}

.app.incompatible .compatibility {
    visibility: visible;
}

a.mobilestore {
    text-decoration: none;
}

/* nav */

nav .group {
    padding: 16px;
    font-weight: bold;
    font-size: large;
}

