---
---

div.med-layout__drawer {
    z-index: 1000;
}

div.super-search {
    margin-top: 64px;
    background-color: rgba(128, 128, 128, 0.90);
}

div.post-section {
    position: relative;
}

a.mdl-layout-title {
    color: white;
    text-decoration: none;
}

img#preview {
    max-width: 100%
}

