<footer id="site-footer" style="padding: 0 0 1rem 0; height: 4.5rem; display: flex; align-items: center;" class="print:hidden">
  <div style="position: relative; display: flex; align-items: center; justify-content: center; width: 100%;">
    <p style="position: absolute; left: 0; margin: 0;" class="text-sm text-neutral-500 dark:text-neutral-400">
      &copy; {{ now.Format "2006" }} {{ .Site.Copyright | markdownify }}
    </p>
    <p style="margin: 0;" class="text-sm text-neutral-500 dark:text-neutral-400">
      If you like the Fyne toolkit please consider
      <a href="https://fyne.io/sponsor/" class="hover:underline hover:text-primary-500">sponsoring</a> our work.
    </p>
  </div>
</footer>
<script src="/assets/js/search.js" type="text/javascript"></script>
<script type="text/javascript">
  superSearch({
    searchFile: '/feed.xml',
    searchSelector: '#js-search',
    inputSelector: '#js-search__input',
    resultsSelector: '#js-search__results'
  });
</script>
