---
layout: default
---

<div class="app-detail-title-area wf-section">
  <div class="fy_container w-container">
    <div class="app-title-container">
      <img src={{page.icon}} loading="lazy" alt="app icon" class="app-icon" onerror="javascript: hide(this)">
      <div>
        <h1 class="h1">{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="meta wf-section">
  <div class="fy_container">
    <div class="meta-row">
      <div class="div-block-3">
        <h5 class="h6">Developer</h5>
        <div class="label">{{page.developer}}</div>
      </div>
    </div>
    <div class="meta-row">
      <div class="div-block-3">
        <h5 class="h6">About</h5>
        <div class="label">{{ content }}</div>
      </div>
    </div>
     <div class="meta-row">
      <div class="div-block-3">
        <h5 class="h6">Donate</h5>
        <div class="label">{{page.donate}}</div>
      </div>
    </div>
    <div class="meta-row">
      <div class="div-block-3">
        {% if page.appleid or page.googleid or page.flathub or page.downloads %}
        <h5 class="h6">Stores</h5>
        <h3>Download</h3>
        <p>This app is also available at the following stores:</p>
        <div class="stores">
        {% if page.appleid %}
        <a href="https://apps.apple.com/app/id{{ page.appleid }}" class="appstore">
          <img src="/assets/images/appstore.png" style="max-width: 143px">
        </a>
        {% endif %}
        {% if page.googleid %}
        <a href="https://play.google.com/store/apps/details?id={{ page.googleid }}" class="appstore">
          <img src="/assets/images/playstore.png" style="max-width: 160px">
        </a>
        {% endif %}
        {% if page.flathub %}
        <a href="https://flathub.org/apps/details/{{ page.flathub }}" class="appstore">
          <img src="/assets/images/flathub.png" style="max-width: 160px">
        </a>
        {% endif %}
        {% if page.downloads %}
        <a href="https://geoffrey-artefacts.fynelabs.com/{{ page.downloads.path }}/{{ page.downloads.build }}/" class="appstore"
        style=" background-color: black;
        color: white;
        border-radius: 5pt;
        padding: 8pt 6pt;
        font-size: 16pt;
        font-weight: 500;
        position: relative;
        top: 3px;">
          <svg xmlns="http://www.w3.org/2000/svg" focusable="false" viewBox="0 0 24 24" color="rgb(255, 255, 255)" style="user-select: none;          
          height: 30px;
          display: inline-block;
          fill: rgb(255, 255, 255);
          flex-shrink: 0;
          pointer-events: none;
          vertical-align: middle;">
          <path d="M5 20h14v-2H5v2zM19 9h-4V3H9v6H5l7 7 7-7z" style="pointer-events: none;">
          </path>
          </svg>
          <span style="top: 4pt; position: relative;">Download</span><span style="font-size: 8pt;
          font-weight: normal;
          position: absolute;
          right: 7pt;
          top: 1.5pt;" class="platform">All Platforms</span>
        </a>
        {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="screenshots wf-section">
  {% for img in page.screenshots %}  
  <div class="fy_container"><img src={{img.url}} loading="lazy" alt="app screenshot" class="screenshot"></div>
  {% endfor %}  
</div>
<div class="app-details-body wf-section">
  <div class="fy_container">
    <div class="app-detail-section">
      <h2 class="h4">Installation</h2>
      <div class="label">You can install this directly from the source code using the Fyne command as follows:</div>
      <div class="code" style="white-space: pre-wrap; word-break: break-word;">go get fyne.io/fyne/v2/cmd/fyne &#8203;
fyne get {{ page.package }}</div>
      <div class="label">Or you can download the code directly from git:</div>
      <div class="code">git clone {{ page.git }}</div>
    </div>
  </div>
</div>
<script>
  function hide(element){
    element.style.display = "none"
  }
</script>
