---
layout: default
---
<div class="page-content">
  <div class="mdl-grid">
    <div class="section-highlight section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="width: 100%">

      <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone" style="background: url('/assets/img/FyneSquare.png') center/cover;"></header>

      <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-card__supporting-text">
          {% assign cat = page.category | capitalize %}
          {% if page.display != nil %}
            {% assign cat = page.display %}
          {% endif %}
          <h4>Welcome to Fyne Apps - {{ cat }}</h4>
          <p>All apps registered with the {{ cat | downcase }} category.</p>
        </div>
      </div>
    </div>

    {% assign applist = site.apps | where: 'category', page.category | sort: 'title' %}
	{% include list.html applist=applist %}

</div>
